$accent-color: #d04;

body {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  background-image: url(tweed.png);
}

h4 {
  color: #800000;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: $accent-color;
}

.thumbnail {
  height: 500px;
}

h1 {
  color: #e085c2;
  border-bottom: solid $accent-color 1px;
}

h2 {
  color: #ff9f80;
}